
body{
    font-family: "Arial", "Meiryo", sans-serif;
}
html{
    font-size: 20px;
    text-align: center;
}
.blue{
    color: skyblue;
}
.pink{
    color: rgb(225,192,203);
}

h1{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem;
    text-shadow: 2px 2px  plum;
    border-bottom: solid 3px rgb(115,115,114);
    line-height: 1.2;
}
#basic{
    font-weight: bold;
    }